<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PC_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <PC_Monitor.Properties.Settings>
            <setting name="PortInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LoadInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MemInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="TempInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SaveLastInterval" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipCloseDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidgetLastPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WidgetLastPosY" serializeAs="String">
                <value>0</value>
            </setting>
        </PC_Monitor.Properties.Settings>
    </userSettings>
</configuration>
